<div class="book-state-div">
    <div class="radio-div">
        <label>
            <input type="radio" name="stateType" value="buy">Buy
        </label>
        <label>
            <input type="radio" name="stateType" value="reading">Reading
        </label>
    </div>
    <div class="radio-div">
        <label>
            <input type="radio" name="stateType" value="finished">Finished
        </label>
        <label>
            <input type="radio" name="stateType" value="toread">To read
        </label>
    </div>
</div>
