@import "../../styles.scss";

.book-emotion-rate-div{
    display: flex;
    flex-wrap: wrap;
    min-width: 380px;
    margin-top: 5rem;
    gap: 2rem;
    justify-content: center;
    font-family: $font-family;
}

.emotion-rate-button{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
}

.emotion-funny{
    border: 5px solid $book-funny;
}

.emotion-tought-provoking{
    border: 5px solid $book-tought-provoking;
}

.emotion-boring{
    border: 5px solid $book-boring;
}

.emotion-exciting{
    border: 5px solid $book-exciting;
}

.emotion-inspiring{
    border: 5px solid $book-inspiring;
}