*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$background-primary: #f7f7f7;
$background-secondary: #1f1f20;
$text-primary: #000000;
$text-secondary: #f0efef;
$finished-color: #830101;
$reading-color: #34ac34;
$read-color: #1210ad;
$buy-color: #e4d830;
$block-primary: #080080;
$block-secondary: #d85a5a;


$font-family: Arial, sans-serif;


$mobile: 400px;
$tablet: 700px;
$desktop: 1200px;
