*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$background-primary: #ffffff;
$background-secondary: #1f1f20;
$text-primary: #000000;
$text-secondary: #f0efef;
$finished-color: #830101;
$reading-color: #34ac34;
$read-color: #1210ad;
$buy-color: #e4d830;
$block-primary: #162D43;
$block-secondary: #d85a5a;
$book-funny: #cace00;
$book-tought-provoking: #087deb;
$book-boring: #9e9e9e;
$book-exciting: #e00101;
$book-inspiring: #2bd600;


$font-family: Arial, sans-serif;


$mobile: 400px;
$tablet: 780px;
$desktop: 1200px;
